---
swagger: "2.0"
info:
  description: "nCoV 2019 API provides information related with the case of pneumonia\
    \ associated with the COVID-19 coronavirus.  The data we provide is collected\
    \ from World Health Organization (WHO), the US Centers for Disease Control and\
    \ Prevention (CDC), the Chinese Centre for Disease Control and Prevention (ECDC),\
    \ China’s National Health Commission, and Chinese website DXY which provides regional\
    \ case estimates faster than the national level reporting organizations."
  version: "1.0.0"
  title: "API-nCoV2019"
  license:
    name: "Apache 2.0"
    url: "https://www.apache.org/licenses/LICENSE-2.0.html"
host: "gateway.nubentos.com"
basePath: "/nubentos.com/ncovapi/2.0.0"
schemes:
- "https"
paths:
  /cases:
    get:
      summary: "Total of active cases."
      description: "Summary of suspected and confirmed"
      operationId: "casesGET"
      produces:
      - "application/json"
      parameters:
      - name: "country"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "World"
          - "USA"
          - "Spain"
          - "Italy"
          - "UK"
          - "France"
          - "Germany"
          - "Turkey"
          - "Russia"
          - "Iran"
          - "Brazil"
          - "Canada"
          - "Belgium"
          - "Netherlands"
          - "Peru"
          - "India"
          - "Switzerland"
          - "Portugal"
          - "Ecuador"
          - "Saudi Arabia"
          - "Sweden"
          - "Ireland"
          - "Mexico"
          - "Pakistan"
          - "Singapore"
          - "Chile"
          - "Israel"
          - "Austria"
          - "Belarus"
          - "Japan"
          - "Qatar"
          - "Poland"
          - "UAE"
          - "Romania"
          - "S. Korea"
          - "Ukraine"
          - "Indonesia"
          - "Denmark"
          - "Serbia"
          - "Philippines"
          - "Norway"
          - "Czechia"
          - "Bangladesh"
          - "Dominican Republic"
          - "Australia"
          - "Colombia"
          - "Panama"
          - "Malaysia"
          - "South Africa"
          - "Egypt"
          - "Finland"
          - "Morocco"
          - "Argentina"
          - "Kuwait"
          - "Algeria"
          - "Moldova"
          - "Luxembourg"
          - "Kazakhstan"
          - "Bahrain"
          - "Thailand"
          - "Hungary"
          - "Greece"
          - "Oman"
          - "Afghanistan"
          - "Iraq"
          - "Croatia"
          - "Ghana"
          - "Armenia"
          - "Uzbekistan"
          - "Nigeria"
          - "Cameroon"
          - "Azerbaijan"
          - "Iceland"
          - "Bosnia and Herzegovina"
          - "Estonia"
          - "Bulgaria"
          - "Cuba"
          - "Guinea"
          - "New Zealand"
          - "North Macedonia"
          - "Slovenia"
          - "Slovakia"
          - "Lithuania"
          - "Ivory Coast"
          - "Bolivia"
          - "Djibouti"
          - "Hong Kong"
          - "Tunisia"
          - "Senegal"
          - "Latvia"
          - "Cyprus"
          - "Albania"
          - "Honduras"
          - "Kyrgyzstan"
          - "Andorra"
          - "Lebanon"
          - "Costa Rica"
          - "Niger"
          - "Diamond Princess"
          - "Sri Lanka"
          - "Burkina Faso"
          - "Uruguay"
          - "Somalia"
          - "Guatemala"
          - "San Marino"
          - "Georgia"
          - "Mayotte"
          - "Channel Islands"
          - "DRC"
          - "Mali"
          - "Tanzania"
          - "Maldives"
          - "Malta"
          - "Jordan"
          - "Sudan"
          - "Taiwan"
          - "Réunion"
          - "Kenya"
          - "Jamaica"
          - "El Salvador"
          - "Palestine"
          - "Mauritius"
          - "Venezuela"
          - "Montenegro"
          - "Isle of Man"
          - "Equatorial Guinea"
          - "Gabon"
          - "Vietnam"
          - "Paraguay"
          - "Rwanda"
          - "Congo"
          - "Guinea-Bissau"
          - "Faeroe Islands"
          - "Martinique"
          - "Guadeloupe"
          - "Myanmar"
          - "Gibraltar"
          - "Liberia"
          - "Brunei"
          - "Ethiopia"
          - "Madagascar"
          - "French Guiana"
          - "Sierra Leone"
          - "Cambodia"
          - "Cabo Verde"
          - "Togo"
          - "Trinidad and Tobago"
          - "Bermuda"
          - "Zambia"
          - "Aruba"
          - "Eswatini"
          - "Monaco"
          - "Uganda"
          - "Guyana"
          - "Liechtenstein"
          - "Barbados"
          - "Bahamas"
          - "Haiti"
          - "Mozambique"
          - "Sint Maarten"
          - "Chad"
          - "Cayman Islands"
          - "Benin"
          - "Libya"
          - "French Polynesia"
          - "Nepal"
          - "CAR"
          - "Macao"
          - "Syria"
          - "Zimbabwe"
          - "Eritrea"
          - "Saint Martin"
          - "Mongolia"
          - "Malawi"
          - "South Sudan"
          - "Angola"
          - "Antigua and Barbuda"
          - "Timor-Leste"
          - "Botswana"
          - "Grenada"
          - "Laos"
          - "Belize"
          - "Fiji"
          - "New Caledonia"
          - "Saint Lucia"
          - "Curaçao"
          - "Dominica"
          - "Namibia"
          - "St. Vincent Grenadines"
          - "Saint Kitts and Nevis"
          - "Tajikistan"
          - "Nicaragua"
          - "Sao Tome and Principe"
          - "Falkland Islands"
          - "Turks and Caicos"
          - "Burundi"
          - "Gambia"
          - "Montserrat"
          - "Greenland"
          - "Vatican City"
          - "Seychelles"
          - "Suriname"
          - "MS Zaandam"
          - "Mauritania"
          - "Papua New Guinea"
          - "Bhutan"
          - "Yemen"
          - "British Virgin Islands"
          - "St. Barth"
          - "Western Sahara"
          - "Caribbean Netherlands"
          - "Anguilla"
          - "Comoros"
          - "Saint Pierre Miquelon"
          - "China"
        maxItems: 1
        minItems: 1
        uniqueItems: true
      responses:
        200:
          description: "Successful operation."
          schema:
            $ref: "#/definitions/resultCases"
        400:
          description: "Validation exception."
        404:
          description: "No results for the given source."
      x-auth-type: "Application & Application User"
      x-throttling-tier: "Unlimited"
      x-swagger-router-controller: "Default"
  /todayCases:
    get:
      summary: "Today cases."
      description: "Number of registered cases today"
      operationId: "todayCasesGET"
      produces:
      - "application/json"
      parameters:
      - name: "country"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "World"
          - "USA"
          - "Spain"
          - "Italy"
          - "UK"
          - "France"
          - "Germany"
          - "Turkey"
          - "Russia"
          - "Iran"
          - "Brazil"
          - "Canada"
          - "Belgium"
          - "Netherlands"
          - "Peru"
          - "India"
          - "Switzerland"
          - "Portugal"
          - "Ecuador"
          - "Saudi Arabia"
          - "Sweden"
          - "Ireland"
          - "Mexico"
          - "Pakistan"
          - "Singapore"
          - "Chile"
          - "Israel"
          - "Austria"
          - "Belarus"
          - "Japan"
          - "Qatar"
          - "Poland"
          - "UAE"
          - "Romania"
          - "S. Korea"
          - "Ukraine"
          - "Indonesia"
          - "Denmark"
          - "Serbia"
          - "Philippines"
          - "Norway"
          - "Czechia"
          - "Bangladesh"
          - "Dominican Republic"
          - "Australia"
          - "Colombia"
          - "Panama"
          - "Malaysia"
          - "South Africa"
          - "Egypt"
          - "Finland"
          - "Morocco"
          - "Argentina"
          - "Kuwait"
          - "Algeria"
          - "Moldova"
          - "Luxembourg"
          - "Kazakhstan"
          - "Bahrain"
          - "Thailand"
          - "Hungary"
          - "Greece"
          - "Oman"
          - "Afghanistan"
          - "Iraq"
          - "Croatia"
          - "Ghana"
          - "Armenia"
          - "Uzbekistan"
          - "Nigeria"
          - "Cameroon"
          - "Azerbaijan"
          - "Iceland"
          - "Bosnia and Herzegovina"
          - "Estonia"
          - "Bulgaria"
          - "Cuba"
          - "Guinea"
          - "New Zealand"
          - "North Macedonia"
          - "Slovenia"
          - "Slovakia"
          - "Lithuania"
          - "Ivory Coast"
          - "Bolivia"
          - "Djibouti"
          - "Hong Kong"
          - "Tunisia"
          - "Senegal"
          - "Latvia"
          - "Cyprus"
          - "Albania"
          - "Honduras"
          - "Kyrgyzstan"
          - "Andorra"
          - "Lebanon"
          - "Costa Rica"
          - "Niger"
          - "Diamond Princess"
          - "Sri Lanka"
          - "Burkina Faso"
          - "Uruguay"
          - "Somalia"
          - "Guatemala"
          - "San Marino"
          - "Georgia"
          - "Mayotte"
          - "Channel Islands"
          - "DRC"
          - "Mali"
          - "Tanzania"
          - "Maldives"
          - "Malta"
          - "Jordan"
          - "Sudan"
          - "Taiwan"
          - "Réunion"
          - "Kenya"
          - "Jamaica"
          - "El Salvador"
          - "Palestine"
          - "Mauritius"
          - "Venezuela"
          - "Montenegro"
          - "Isle of Man"
          - "Equatorial Guinea"
          - "Gabon"
          - "Vietnam"
          - "Paraguay"
          - "Rwanda"
          - "Congo"
          - "Guinea-Bissau"
          - "Faeroe Islands"
          - "Martinique"
          - "Guadeloupe"
          - "Myanmar"
          - "Gibraltar"
          - "Liberia"
          - "Brunei"
          - "Ethiopia"
          - "Madagascar"
          - "French Guiana"
          - "Sierra Leone"
          - "Cambodia"
          - "Cabo Verde"
          - "Togo"
          - "Trinidad and Tobago"
          - "Bermuda"
          - "Zambia"
          - "Aruba"
          - "Eswatini"
          - "Monaco"
          - "Uganda"
          - "Guyana"
          - "Liechtenstein"
          - "Barbados"
          - "Bahamas"
          - "Haiti"
          - "Mozambique"
          - "Sint Maarten"
          - "Chad"
          - "Cayman Islands"
          - "Benin"
          - "Libya"
          - "French Polynesia"
          - "Nepal"
          - "CAR"
          - "Macao"
          - "Syria"
          - "Zimbabwe"
          - "Eritrea"
          - "Saint Martin"
          - "Mongolia"
          - "Malawi"
          - "South Sudan"
          - "Angola"
          - "Antigua and Barbuda"
          - "Timor-Leste"
          - "Botswana"
          - "Grenada"
          - "Laos"
          - "Belize"
          - "Fiji"
          - "New Caledonia"
          - "Saint Lucia"
          - "Curaçao"
          - "Dominica"
          - "Namibia"
          - "St. Vincent Grenadines"
          - "Saint Kitts and Nevis"
          - "Tajikistan"
          - "Nicaragua"
          - "Sao Tome and Principe"
          - "Falkland Islands"
          - "Turks and Caicos"
          - "Burundi"
          - "Gambia"
          - "Montserrat"
          - "Greenland"
          - "Vatican City"
          - "Seychelles"
          - "Suriname"
          - "MS Zaandam"
          - "Mauritania"
          - "Papua New Guinea"
          - "Bhutan"
          - "Yemen"
          - "British Virgin Islands"
          - "St. Barth"
          - "Western Sahara"
          - "Caribbean Netherlands"
          - "Anguilla"
          - "Comoros"
          - "Saint Pierre Miquelon"
          - "China"
        maxItems: 1
        minItems: 1
        uniqueItems: true
      responses:
        200:
          description: "Successful operation."
          schema:
            $ref: "#/definitions/resultCasesCountry"
        400:
          description: "Validation exception."
        404:
          description: "No results for the given source."
      x-auth-type: "Application & Application User"
      x-throttling-tier: "Unlimited"
      x-swagger-router-controller: "Default"
  /active:
    get:
      summary: "Active cases"
      description: "Active cases"
      operationId: "activeGET"
      produces:
      - "application/json"
      parameters:
      - name: "country"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "World"
          - "USA"
          - "Spain"
          - "Italy"
          - "UK"
          - "France"
          - "Germany"
          - "Turkey"
          - "Russia"
          - "Iran"
          - "Brazil"
          - "Canada"
          - "Belgium"
          - "Netherlands"
          - "Peru"
          - "India"
          - "Switzerland"
          - "Portugal"
          - "Ecuador"
          - "Saudi Arabia"
          - "Sweden"
          - "Ireland"
          - "Mexico"
          - "Pakistan"
          - "Singapore"
          - "Chile"
          - "Israel"
          - "Austria"
          - "Belarus"
          - "Japan"
          - "Qatar"
          - "Poland"
          - "UAE"
          - "Romania"
          - "S. Korea"
          - "Ukraine"
          - "Indonesia"
          - "Denmark"
          - "Serbia"
          - "Philippines"
          - "Norway"
          - "Czechia"
          - "Bangladesh"
          - "Dominican Republic"
          - "Australia"
          - "Colombia"
          - "Panama"
          - "Malaysia"
          - "South Africa"
          - "Egypt"
          - "Finland"
          - "Morocco"
          - "Argentina"
          - "Kuwait"
          - "Algeria"
          - "Moldova"
          - "Luxembourg"
          - "Kazakhstan"
          - "Bahrain"
          - "Thailand"
          - "Hungary"
          - "Greece"
          - "Oman"
          - "Afghanistan"
          - "Iraq"
          - "Croatia"
          - "Ghana"
          - "Armenia"
          - "Uzbekistan"
          - "Nigeria"
          - "Cameroon"
          - "Azerbaijan"
          - "Iceland"
          - "Bosnia and Herzegovina"
          - "Estonia"
          - "Bulgaria"
          - "Cuba"
          - "Guinea"
          - "New Zealand"
          - "North Macedonia"
          - "Slovenia"
          - "Slovakia"
          - "Lithuania"
          - "Ivory Coast"
          - "Bolivia"
          - "Djibouti"
          - "Hong Kong"
          - "Tunisia"
          - "Senegal"
          - "Latvia"
          - "Cyprus"
          - "Albania"
          - "Honduras"
          - "Kyrgyzstan"
          - "Andorra"
          - "Lebanon"
          - "Costa Rica"
          - "Niger"
          - "Diamond Princess"
          - "Sri Lanka"
          - "Burkina Faso"
          - "Uruguay"
          - "Somalia"
          - "Guatemala"
          - "San Marino"
          - "Georgia"
          - "Mayotte"
          - "Channel Islands"
          - "DRC"
          - "Mali"
          - "Tanzania"
          - "Maldives"
          - "Malta"
          - "Jordan"
          - "Sudan"
          - "Taiwan"
          - "Réunion"
          - "Kenya"
          - "Jamaica"
          - "El Salvador"
          - "Palestine"
          - "Mauritius"
          - "Venezuela"
          - "Montenegro"
          - "Isle of Man"
          - "Equatorial Guinea"
          - "Gabon"
          - "Vietnam"
          - "Paraguay"
          - "Rwanda"
          - "Congo"
          - "Guinea-Bissau"
          - "Faeroe Islands"
          - "Martinique"
          - "Guadeloupe"
          - "Myanmar"
          - "Gibraltar"
          - "Liberia"
          - "Brunei"
          - "Ethiopia"
          - "Madagascar"
          - "French Guiana"
          - "Sierra Leone"
          - "Cambodia"
          - "Cabo Verde"
          - "Togo"
          - "Trinidad and Tobago"
          - "Bermuda"
          - "Zambia"
          - "Aruba"
          - "Eswatini"
          - "Monaco"
          - "Uganda"
          - "Guyana"
          - "Liechtenstein"
          - "Barbados"
          - "Bahamas"
          - "Haiti"
          - "Mozambique"
          - "Sint Maarten"
          - "Chad"
          - "Cayman Islands"
          - "Benin"
          - "Libya"
          - "French Polynesia"
          - "Nepal"
          - "CAR"
          - "Macao"
          - "Syria"
          - "Zimbabwe"
          - "Eritrea"
          - "Saint Martin"
          - "Mongolia"
          - "Malawi"
          - "South Sudan"
          - "Angola"
          - "Antigua and Barbuda"
          - "Timor-Leste"
          - "Botswana"
          - "Grenada"
          - "Laos"
          - "Belize"
          - "Fiji"
          - "New Caledonia"
          - "Saint Lucia"
          - "Curaçao"
          - "Dominica"
          - "Namibia"
          - "St. Vincent Grenadines"
          - "Saint Kitts and Nevis"
          - "Tajikistan"
          - "Nicaragua"
          - "Sao Tome and Principe"
          - "Falkland Islands"
          - "Turks and Caicos"
          - "Burundi"
          - "Gambia"
          - "Montserrat"
          - "Greenland"
          - "Vatican City"
          - "Seychelles"
          - "Suriname"
          - "MS Zaandam"
          - "Mauritania"
          - "Papua New Guinea"
          - "Bhutan"
          - "Yemen"
          - "British Virgin Islands"
          - "St. Barth"
          - "Western Sahara"
          - "Caribbean Netherlands"
          - "Anguilla"
          - "Comoros"
          - "Saint Pierre Miquelon"
          - "China"
        maxItems: 1
        minItems: 1
        uniqueItems: true
      responses:
        200:
          description: "Successful operation."
          schema:
            $ref: "#/definitions/resultCases"
        400:
          description: "Validation exception."
        404:
          description: "No results for the given source."
      x-auth-type: "Application & Application User"
      x-throttling-tier: "Unlimited"
      x-swagger-router-controller: "Default"
  /deaths:
    get:
      summary: "Total of persons death."
      description: "Total of person death because a direct relation ship with 2019\
        \ - NCoV"
      operationId: "deathsGET"
      produces:
      - "application/json"
      parameters:
      - name: "country"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "World"
          - "USA"
          - "Spain"
          - "Italy"
          - "UK"
          - "France"
          - "Germany"
          - "Turkey"
          - "Russia"
          - "Iran"
          - "Brazil"
          - "Canada"
          - "Belgium"
          - "Netherlands"
          - "Peru"
          - "India"
          - "Switzerland"
          - "Portugal"
          - "Ecuador"
          - "Saudi Arabia"
          - "Sweden"
          - "Ireland"
          - "Mexico"
          - "Pakistan"
          - "Singapore"
          - "Chile"
          - "Israel"
          - "Austria"
          - "Belarus"
          - "Japan"
          - "Qatar"
          - "Poland"
          - "UAE"
          - "Romania"
          - "S. Korea"
          - "Ukraine"
          - "Indonesia"
          - "Denmark"
          - "Serbia"
          - "Philippines"
          - "Norway"
          - "Czechia"
          - "Bangladesh"
          - "Dominican Republic"
          - "Australia"
          - "Colombia"
          - "Panama"
          - "Malaysia"
          - "South Africa"
          - "Egypt"
          - "Finland"
          - "Morocco"
          - "Argentina"
          - "Kuwait"
          - "Algeria"
          - "Moldova"
          - "Luxembourg"
          - "Kazakhstan"
          - "Bahrain"
          - "Thailand"
          - "Hungary"
          - "Greece"
          - "Oman"
          - "Afghanistan"
          - "Iraq"
          - "Croatia"
          - "Ghana"
          - "Armenia"
          - "Uzbekistan"
          - "Nigeria"
          - "Cameroon"
          - "Azerbaijan"
          - "Iceland"
          - "Bosnia and Herzegovina"
          - "Estonia"
          - "Bulgaria"
          - "Cuba"
          - "Guinea"
          - "New Zealand"
          - "North Macedonia"
          - "Slovenia"
          - "Slovakia"
          - "Lithuania"
          - "Ivory Coast"
          - "Bolivia"
          - "Djibouti"
          - "Hong Kong"
          - "Tunisia"
          - "Senegal"
          - "Latvia"
          - "Cyprus"
          - "Albania"
          - "Honduras"
          - "Kyrgyzstan"
          - "Andorra"
          - "Lebanon"
          - "Costa Rica"
          - "Niger"
          - "Diamond Princess"
          - "Sri Lanka"
          - "Burkina Faso"
          - "Uruguay"
          - "Somalia"
          - "Guatemala"
          - "San Marino"
          - "Georgia"
          - "Mayotte"
          - "Channel Islands"
          - "DRC"
          - "Mali"
          - "Tanzania"
          - "Maldives"
          - "Malta"
          - "Jordan"
          - "Sudan"
          - "Taiwan"
          - "Réunion"
          - "Kenya"
          - "Jamaica"
          - "El Salvador"
          - "Palestine"
          - "Mauritius"
          - "Venezuela"
          - "Montenegro"
          - "Isle of Man"
          - "Equatorial Guinea"
          - "Gabon"
          - "Vietnam"
          - "Paraguay"
          - "Rwanda"
          - "Congo"
          - "Guinea-Bissau"
          - "Faeroe Islands"
          - "Martinique"
          - "Guadeloupe"
          - "Myanmar"
          - "Gibraltar"
          - "Liberia"
          - "Brunei"
          - "Ethiopia"
          - "Madagascar"
          - "French Guiana"
          - "Sierra Leone"
          - "Cambodia"
          - "Cabo Verde"
          - "Togo"
          - "Trinidad and Tobago"
          - "Bermuda"
          - "Zambia"
          - "Aruba"
          - "Eswatini"
          - "Monaco"
          - "Uganda"
          - "Guyana"
          - "Liechtenstein"
          - "Barbados"
          - "Bahamas"
          - "Haiti"
          - "Mozambique"
          - "Sint Maarten"
          - "Chad"
          - "Cayman Islands"
          - "Benin"
          - "Libya"
          - "French Polynesia"
          - "Nepal"
          - "CAR"
          - "Macao"
          - "Syria"
          - "Zimbabwe"
          - "Eritrea"
          - "Saint Martin"
          - "Mongolia"
          - "Malawi"
          - "South Sudan"
          - "Angola"
          - "Antigua and Barbuda"
          - "Timor-Leste"
          - "Botswana"
          - "Grenada"
          - "Laos"
          - "Belize"
          - "Fiji"
          - "New Caledonia"
          - "Saint Lucia"
          - "Curaçao"
          - "Dominica"
          - "Namibia"
          - "St. Vincent Grenadines"
          - "Saint Kitts and Nevis"
          - "Tajikistan"
          - "Nicaragua"
          - "Sao Tome and Principe"
          - "Falkland Islands"
          - "Turks and Caicos"
          - "Burundi"
          - "Gambia"
          - "Montserrat"
          - "Greenland"
          - "Vatican City"
          - "Seychelles"
          - "Suriname"
          - "MS Zaandam"
          - "Mauritania"
          - "Papua New Guinea"
          - "Bhutan"
          - "Yemen"
          - "British Virgin Islands"
          - "St. Barth"
          - "Western Sahara"
          - "Caribbean Netherlands"
          - "Anguilla"
          - "Comoros"
          - "Saint Pierre Miquelon"
          - "China"
        maxItems: 1
        minItems: 1
        uniqueItems: true
      responses:
        200:
          description: "Successful operation."
          schema:
            $ref: "#/definitions/resultCases"
        400:
          description: "Validation exception."
        404:
          description: "No results for the given source."
      x-auth-type: "Application & Application User"
      x-throttling-tier: "Unlimited"
      x-swagger-router-controller: "Default"
  /todayDeaths:
    get:
      summary: "Today deaths."
      description: "Number of deaths today"
      operationId: "todayDeathsGET"
      produces:
      - "application/json"
      parameters:
      - name: "country"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "World"
          - "USA"
          - "Spain"
          - "Italy"
          - "UK"
          - "France"
          - "Germany"
          - "Turkey"
          - "Russia"
          - "Iran"
          - "Brazil"
          - "Canada"
          - "Belgium"
          - "Netherlands"
          - "Peru"
          - "India"
          - "Switzerland"
          - "Portugal"
          - "Ecuador"
          - "Saudi Arabia"
          - "Sweden"
          - "Ireland"
          - "Mexico"
          - "Pakistan"
          - "Singapore"
          - "Chile"
          - "Israel"
          - "Austria"
          - "Belarus"
          - "Japan"
          - "Qatar"
          - "Poland"
          - "UAE"
          - "Romania"
          - "S. Korea"
          - "Ukraine"
          - "Indonesia"
          - "Denmark"
          - "Serbia"
          - "Philippines"
          - "Norway"
          - "Czechia"
          - "Bangladesh"
          - "Dominican Republic"
          - "Australia"
          - "Colombia"
          - "Panama"
          - "Malaysia"
          - "South Africa"
          - "Egypt"
          - "Finland"
          - "Morocco"
          - "Argentina"
          - "Kuwait"
          - "Algeria"
          - "Moldova"
          - "Luxembourg"
          - "Kazakhstan"
          - "Bahrain"
          - "Thailand"
          - "Hungary"
          - "Greece"
          - "Oman"
          - "Afghanistan"
          - "Iraq"
          - "Croatia"
          - "Ghana"
          - "Armenia"
          - "Uzbekistan"
          - "Nigeria"
          - "Cameroon"
          - "Azerbaijan"
          - "Iceland"
          - "Bosnia and Herzegovina"
          - "Estonia"
          - "Bulgaria"
          - "Cuba"
          - "Guinea"
          - "New Zealand"
          - "North Macedonia"
          - "Slovenia"
          - "Slovakia"
          - "Lithuania"
          - "Ivory Coast"
          - "Bolivia"
          - "Djibouti"
          - "Hong Kong"
          - "Tunisia"
          - "Senegal"
          - "Latvia"
          - "Cyprus"
          - "Albania"
          - "Honduras"
          - "Kyrgyzstan"
          - "Andorra"
          - "Lebanon"
          - "Costa Rica"
          - "Niger"
          - "Diamond Princess"
          - "Sri Lanka"
          - "Burkina Faso"
          - "Uruguay"
          - "Somalia"
          - "Guatemala"
          - "San Marino"
          - "Georgia"
          - "Mayotte"
          - "Channel Islands"
          - "DRC"
          - "Mali"
          - "Tanzania"
          - "Maldives"
          - "Malta"
          - "Jordan"
          - "Sudan"
          - "Taiwan"
          - "Réunion"
          - "Kenya"
          - "Jamaica"
          - "El Salvador"
          - "Palestine"
          - "Mauritius"
          - "Venezuela"
          - "Montenegro"
          - "Isle of Man"
          - "Equatorial Guinea"
          - "Gabon"
          - "Vietnam"
          - "Paraguay"
          - "Rwanda"
          - "Congo"
          - "Guinea-Bissau"
          - "Faeroe Islands"
          - "Martinique"
          - "Guadeloupe"
          - "Myanmar"
          - "Gibraltar"
          - "Liberia"
          - "Brunei"
          - "Ethiopia"
          - "Madagascar"
          - "French Guiana"
          - "Sierra Leone"
          - "Cambodia"
          - "Cabo Verde"
          - "Togo"
          - "Trinidad and Tobago"
          - "Bermuda"
          - "Zambia"
          - "Aruba"
          - "Eswatini"
          - "Monaco"
          - "Uganda"
          - "Guyana"
          - "Liechtenstein"
          - "Barbados"
          - "Bahamas"
          - "Haiti"
          - "Mozambique"
          - "Sint Maarten"
          - "Chad"
          - "Cayman Islands"
          - "Benin"
          - "Libya"
          - "French Polynesia"
          - "Nepal"
          - "CAR"
          - "Macao"
          - "Syria"
          - "Zimbabwe"
          - "Eritrea"
          - "Saint Martin"
          - "Mongolia"
          - "Malawi"
          - "South Sudan"
          - "Angola"
          - "Antigua and Barbuda"
          - "Timor-Leste"
          - "Botswana"
          - "Grenada"
          - "Laos"
          - "Belize"
          - "Fiji"
          - "New Caledonia"
          - "Saint Lucia"
          - "Curaçao"
          - "Dominica"
          - "Namibia"
          - "St. Vincent Grenadines"
          - "Saint Kitts and Nevis"
          - "Tajikistan"
          - "Nicaragua"
          - "Sao Tome and Principe"
          - "Falkland Islands"
          - "Turks and Caicos"
          - "Burundi"
          - "Gambia"
          - "Montserrat"
          - "Greenland"
          - "Vatican City"
          - "Seychelles"
          - "Suriname"
          - "MS Zaandam"
          - "Mauritania"
          - "Papua New Guinea"
          - "Bhutan"
          - "Yemen"
          - "British Virgin Islands"
          - "St. Barth"
          - "Western Sahara"
          - "Caribbean Netherlands"
          - "Anguilla"
          - "Comoros"
          - "Saint Pierre Miquelon"
          - "China"
        maxItems: 1
        minItems: 1
        uniqueItems: true
      responses:
        200:
          description: "Successful operation."
          schema:
            $ref: "#/definitions/resultCases"
        400:
          description: "Validation exception."
        404:
          description: "No results for the given source."
      x-auth-type: "Application & Application User"
      x-throttling-tier: "Unlimited"
      x-swagger-router-controller: "Default"
  /recovered:
    get:
      summary: "Recovered cases"
      description: "Recovered cases"
      operationId: "recoveredGET"
      produces:
      - "application/json"
      parameters:
      - name: "country"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "World"
          - "USA"
          - "Spain"
          - "Italy"
          - "UK"
          - "France"
          - "Germany"
          - "Turkey"
          - "Russia"
          - "Iran"
          - "Brazil"
          - "Canada"
          - "Belgium"
          - "Netherlands"
          - "Peru"
          - "India"
          - "Switzerland"
          - "Portugal"
          - "Ecuador"
          - "Saudi Arabia"
          - "Sweden"
          - "Ireland"
          - "Mexico"
          - "Pakistan"
          - "Singapore"
          - "Chile"
          - "Israel"
          - "Austria"
          - "Belarus"
          - "Japan"
          - "Qatar"
          - "Poland"
          - "UAE"
          - "Romania"
          - "S. Korea"
          - "Ukraine"
          - "Indonesia"
          - "Denmark"
          - "Serbia"
          - "Philippines"
          - "Norway"
          - "Czechia"
          - "Bangladesh"
          - "Dominican Republic"
          - "Australia"
          - "Colombia"
          - "Panama"
          - "Malaysia"
          - "South Africa"
          - "Egypt"
          - "Finland"
          - "Morocco"
          - "Argentina"
          - "Kuwait"
          - "Algeria"
          - "Moldova"
          - "Luxembourg"
          - "Kazakhstan"
          - "Bahrain"
          - "Thailand"
          - "Hungary"
          - "Greece"
          - "Oman"
          - "Afghanistan"
          - "Iraq"
          - "Croatia"
          - "Ghana"
          - "Armenia"
          - "Uzbekistan"
          - "Nigeria"
          - "Cameroon"
          - "Azerbaijan"
          - "Iceland"
          - "Bosnia and Herzegovina"
          - "Estonia"
          - "Bulgaria"
          - "Cuba"
          - "Guinea"
          - "New Zealand"
          - "North Macedonia"
          - "Slovenia"
          - "Slovakia"
          - "Lithuania"
          - "Ivory Coast"
          - "Bolivia"
          - "Djibouti"
          - "Hong Kong"
          - "Tunisia"
          - "Senegal"
          - "Latvia"
          - "Cyprus"
          - "Albania"
          - "Honduras"
          - "Kyrgyzstan"
          - "Andorra"
          - "Lebanon"
          - "Costa Rica"
          - "Niger"
          - "Diamond Princess"
          - "Sri Lanka"
          - "Burkina Faso"
          - "Uruguay"
          - "Somalia"
          - "Guatemala"
          - "San Marino"
          - "Georgia"
          - "Mayotte"
          - "Channel Islands"
          - "DRC"
          - "Mali"
          - "Tanzania"
          - "Maldives"
          - "Malta"
          - "Jordan"
          - "Sudan"
          - "Taiwan"
          - "Réunion"
          - "Kenya"
          - "Jamaica"
          - "El Salvador"
          - "Palestine"
          - "Mauritius"
          - "Venezuela"
          - "Montenegro"
          - "Isle of Man"
          - "Equatorial Guinea"
          - "Gabon"
          - "Vietnam"
          - "Paraguay"
          - "Rwanda"
          - "Congo"
          - "Guinea-Bissau"
          - "Faeroe Islands"
          - "Martinique"
          - "Guadeloupe"
          - "Myanmar"
          - "Gibraltar"
          - "Liberia"
          - "Brunei"
          - "Ethiopia"
          - "Madagascar"
          - "French Guiana"
          - "Sierra Leone"
          - "Cambodia"
          - "Cabo Verde"
          - "Togo"
          - "Trinidad and Tobago"
          - "Bermuda"
          - "Zambia"
          - "Aruba"
          - "Eswatini"
          - "Monaco"
          - "Uganda"
          - "Guyana"
          - "Liechtenstein"
          - "Barbados"
          - "Bahamas"
          - "Haiti"
          - "Mozambique"
          - "Sint Maarten"
          - "Chad"
          - "Cayman Islands"
          - "Benin"
          - "Libya"
          - "French Polynesia"
          - "Nepal"
          - "CAR"
          - "Macao"
          - "Syria"
          - "Zimbabwe"
          - "Eritrea"
          - "Saint Martin"
          - "Mongolia"
          - "Malawi"
          - "South Sudan"
          - "Angola"
          - "Antigua and Barbuda"
          - "Timor-Leste"
          - "Botswana"
          - "Grenada"
          - "Laos"
          - "Belize"
          - "Fiji"
          - "New Caledonia"
          - "Saint Lucia"
          - "Curaçao"
          - "Dominica"
          - "Namibia"
          - "St. Vincent Grenadines"
          - "Saint Kitts and Nevis"
          - "Tajikistan"
          - "Nicaragua"
          - "Sao Tome and Principe"
          - "Falkland Islands"
          - "Turks and Caicos"
          - "Burundi"
          - "Gambia"
          - "Montserrat"
          - "Greenland"
          - "Vatican City"
          - "Seychelles"
          - "Suriname"
          - "MS Zaandam"
          - "Mauritania"
          - "Papua New Guinea"
          - "Bhutan"
          - "Yemen"
          - "British Virgin Islands"
          - "St. Barth"
          - "Western Sahara"
          - "Caribbean Netherlands"
          - "Anguilla"
          - "Comoros"
          - "Saint Pierre Miquelon"
          - "China"
        maxItems: 1
        minItems: 1
        uniqueItems: true
      responses:
        200:
          description: "Successful operation."
          schema:
            $ref: "#/definitions/resultCases"
        400:
          description: "Validation exception."
        404:
          description: "No results for the given source."
      x-auth-type: "Application & Application User"
      x-throttling-tier: "Unlimited"
      x-swagger-router-controller: "Default"
  /critical:
    get:
      summary: "Critical cases"
      description: "Critical cases"
      operationId: "criticalGET"
      produces:
      - "application/json"
      parameters:
      - name: "country"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "World"
          - "USA"
          - "Spain"
          - "Italy"
          - "UK"
          - "France"
          - "Germany"
          - "Turkey"
          - "Russia"
          - "Iran"
          - "Brazil"
          - "Canada"
          - "Belgium"
          - "Netherlands"
          - "Peru"
          - "India"
          - "Switzerland"
          - "Portugal"
          - "Ecuador"
          - "Saudi Arabia"
          - "Sweden"
          - "Ireland"
          - "Mexico"
          - "Pakistan"
          - "Singapore"
          - "Chile"
          - "Israel"
          - "Austria"
          - "Belarus"
          - "Japan"
          - "Qatar"
          - "Poland"
          - "UAE"
          - "Romania"
          - "S. Korea"
          - "Ukraine"
          - "Indonesia"
          - "Denmark"
          - "Serbia"
          - "Philippines"
          - "Norway"
          - "Czechia"
          - "Bangladesh"
          - "Dominican Republic"
          - "Australia"
          - "Colombia"
          - "Panama"
          - "Malaysia"
          - "South Africa"
          - "Egypt"
          - "Finland"
          - "Morocco"
          - "Argentina"
          - "Kuwait"
          - "Algeria"
          - "Moldova"
          - "Luxembourg"
          - "Kazakhstan"
          - "Bahrain"
          - "Thailand"
          - "Hungary"
          - "Greece"
          - "Oman"
          - "Afghanistan"
          - "Iraq"
          - "Croatia"
          - "Ghana"
          - "Armenia"
          - "Uzbekistan"
          - "Nigeria"
          - "Cameroon"
          - "Azerbaijan"
          - "Iceland"
          - "Bosnia and Herzegovina"
          - "Estonia"
          - "Bulgaria"
          - "Cuba"
          - "Guinea"
          - "New Zealand"
          - "North Macedonia"
          - "Slovenia"
          - "Slovakia"
          - "Lithuania"
          - "Ivory Coast"
          - "Bolivia"
          - "Djibouti"
          - "Hong Kong"
          - "Tunisia"
          - "Senegal"
          - "Latvia"
          - "Cyprus"
          - "Albania"
          - "Honduras"
          - "Kyrgyzstan"
          - "Andorra"
          - "Lebanon"
          - "Costa Rica"
          - "Niger"
          - "Diamond Princess"
          - "Sri Lanka"
          - "Burkina Faso"
          - "Uruguay"
          - "Somalia"
          - "Guatemala"
          - "San Marino"
          - "Georgia"
          - "Mayotte"
          - "Channel Islands"
          - "DRC"
          - "Mali"
          - "Tanzania"
          - "Maldives"
          - "Malta"
          - "Jordan"
          - "Sudan"
          - "Taiwan"
          - "Réunion"
          - "Kenya"
          - "Jamaica"
          - "El Salvador"
          - "Palestine"
          - "Mauritius"
          - "Venezuela"
          - "Montenegro"
          - "Isle of Man"
          - "Equatorial Guinea"
          - "Gabon"
          - "Vietnam"
          - "Paraguay"
          - "Rwanda"
          - "Congo"
          - "Guinea-Bissau"
          - "Faeroe Islands"
          - "Martinique"
          - "Guadeloupe"
          - "Myanmar"
          - "Gibraltar"
          - "Liberia"
          - "Brunei"
          - "Ethiopia"
          - "Madagascar"
          - "French Guiana"
          - "Sierra Leone"
          - "Cambodia"
          - "Cabo Verde"
          - "Togo"
          - "Trinidad and Tobago"
          - "Bermuda"
          - "Zambia"
          - "Aruba"
          - "Eswatini"
          - "Monaco"
          - "Uganda"
          - "Guyana"
          - "Liechtenstein"
          - "Barbados"
          - "Bahamas"
          - "Haiti"
          - "Mozambique"
          - "Sint Maarten"
          - "Chad"
          - "Cayman Islands"
          - "Benin"
          - "Libya"
          - "French Polynesia"
          - "Nepal"
          - "CAR"
          - "Macao"
          - "Syria"
          - "Zimbabwe"
          - "Eritrea"
          - "Saint Martin"
          - "Mongolia"
          - "Malawi"
          - "South Sudan"
          - "Angola"
          - "Antigua and Barbuda"
          - "Timor-Leste"
          - "Botswana"
          - "Grenada"
          - "Laos"
          - "Belize"
          - "Fiji"
          - "New Caledonia"
          - "Saint Lucia"
          - "Curaçao"
          - "Dominica"
          - "Namibia"
          - "St. Vincent Grenadines"
          - "Saint Kitts and Nevis"
          - "Tajikistan"
          - "Nicaragua"
          - "Sao Tome and Principe"
          - "Falkland Islands"
          - "Turks and Caicos"
          - "Burundi"
          - "Gambia"
          - "Montserrat"
          - "Greenland"
          - "Vatican City"
          - "Seychelles"
          - "Suriname"
          - "MS Zaandam"
          - "Mauritania"
          - "Papua New Guinea"
          - "Bhutan"
          - "Yemen"
          - "British Virgin Islands"
          - "St. Barth"
          - "Western Sahara"
          - "Caribbean Netherlands"
          - "Anguilla"
          - "Comoros"
          - "Saint Pierre Miquelon"
          - "China"
        maxItems: 1
        minItems: 1
        uniqueItems: true
      responses:
        200:
          description: "Successful operation."
          schema:
            $ref: "#/definitions/resultCases"
        400:
          description: "Validation exception."
        404:
          description: "No results for the given source."
      x-auth-type: "Application & Application User"
      x-throttling-tier: "Unlimited"
      x-swagger-router-controller: "Default"
  /casesPerOneMillion:
    get:
      summary: "Cases per Million"
      description: "Cases per Million"
      operationId: "casesPerOneMillionGET"
      produces:
      - "application/json"
      parameters:
      - name: "country"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "World"
          - "USA"
          - "Spain"
          - "Italy"
          - "UK"
          - "France"
          - "Germany"
          - "Turkey"
          - "Russia"
          - "Iran"
          - "Brazil"
          - "Canada"
          - "Belgium"
          - "Netherlands"
          - "Peru"
          - "India"
          - "Switzerland"
          - "Portugal"
          - "Ecuador"
          - "Saudi Arabia"
          - "Sweden"
          - "Ireland"
          - "Mexico"
          - "Pakistan"
          - "Singapore"
          - "Chile"
          - "Israel"
          - "Austria"
          - "Belarus"
          - "Japan"
          - "Qatar"
          - "Poland"
          - "UAE"
          - "Romania"
          - "S. Korea"
          - "Ukraine"
          - "Indonesia"
          - "Denmark"
          - "Serbia"
          - "Philippines"
          - "Norway"
          - "Czechia"
          - "Bangladesh"
          - "Dominican Republic"
          - "Australia"
          - "Colombia"
          - "Panama"
          - "Malaysia"
          - "South Africa"
          - "Egypt"
          - "Finland"
          - "Morocco"
          - "Argentina"
          - "Kuwait"
          - "Algeria"
          - "Moldova"
          - "Luxembourg"
          - "Kazakhstan"
          - "Bahrain"
          - "Thailand"
          - "Hungary"
          - "Greece"
          - "Oman"
          - "Afghanistan"
          - "Iraq"
          - "Croatia"
          - "Ghana"
          - "Armenia"
          - "Uzbekistan"
          - "Nigeria"
          - "Cameroon"
          - "Azerbaijan"
          - "Iceland"
          - "Bosnia and Herzegovina"
          - "Estonia"
          - "Bulgaria"
          - "Cuba"
          - "Guinea"
          - "New Zealand"
          - "North Macedonia"
          - "Slovenia"
          - "Slovakia"
          - "Lithuania"
          - "Ivory Coast"
          - "Bolivia"
          - "Djibouti"
          - "Hong Kong"
          - "Tunisia"
          - "Senegal"
          - "Latvia"
          - "Cyprus"
          - "Albania"
          - "Honduras"
          - "Kyrgyzstan"
          - "Andorra"
          - "Lebanon"
          - "Costa Rica"
          - "Niger"
          - "Diamond Princess"
          - "Sri Lanka"
          - "Burkina Faso"
          - "Uruguay"
          - "Somalia"
          - "Guatemala"
          - "San Marino"
          - "Georgia"
          - "Mayotte"
          - "Channel Islands"
          - "DRC"
          - "Mali"
          - "Tanzania"
          - "Maldives"
          - "Malta"
          - "Jordan"
          - "Sudan"
          - "Taiwan"
          - "Réunion"
          - "Kenya"
          - "Jamaica"
          - "El Salvador"
          - "Palestine"
          - "Mauritius"
          - "Venezuela"
          - "Montenegro"
          - "Isle of Man"
          - "Equatorial Guinea"
          - "Gabon"
          - "Vietnam"
          - "Paraguay"
          - "Rwanda"
          - "Congo"
          - "Guinea-Bissau"
          - "Faeroe Islands"
          - "Martinique"
          - "Guadeloupe"
          - "Myanmar"
          - "Gibraltar"
          - "Liberia"
          - "Brunei"
          - "Ethiopia"
          - "Madagascar"
          - "French Guiana"
          - "Sierra Leone"
          - "Cambodia"
          - "Cabo Verde"
          - "Togo"
          - "Trinidad and Tobago"
          - "Bermuda"
          - "Zambia"
          - "Aruba"
          - "Eswatini"
          - "Monaco"
          - "Uganda"
          - "Guyana"
          - "Liechtenstein"
          - "Barbados"
          - "Bahamas"
          - "Haiti"
          - "Mozambique"
          - "Sint Maarten"
          - "Chad"
          - "Cayman Islands"
          - "Benin"
          - "Libya"
          - "French Polynesia"
          - "Nepal"
          - "CAR"
          - "Macao"
          - "Syria"
          - "Zimbabwe"
          - "Eritrea"
          - "Saint Martin"
          - "Mongolia"
          - "Malawi"
          - "South Sudan"
          - "Angola"
          - "Antigua and Barbuda"
          - "Timor-Leste"
          - "Botswana"
          - "Grenada"
          - "Laos"
          - "Belize"
          - "Fiji"
          - "New Caledonia"
          - "Saint Lucia"
          - "Curaçao"
          - "Dominica"
          - "Namibia"
          - "St. Vincent Grenadines"
          - "Saint Kitts and Nevis"
          - "Tajikistan"
          - "Nicaragua"
          - "Sao Tome and Principe"
          - "Falkland Islands"
          - "Turks and Caicos"
          - "Burundi"
          - "Gambia"
          - "Montserrat"
          - "Greenland"
          - "Vatican City"
          - "Seychelles"
          - "Suriname"
          - "MS Zaandam"
          - "Mauritania"
          - "Papua New Guinea"
          - "Bhutan"
          - "Yemen"
          - "British Virgin Islands"
          - "St. Barth"
          - "Western Sahara"
          - "Caribbean Netherlands"
          - "Anguilla"
          - "Comoros"
          - "Saint Pierre Miquelon"
          - "China"
        maxItems: 1
        minItems: 1
        uniqueItems: true
      responses:
        200:
          description: "Successful operation."
          schema:
            $ref: "#/definitions/resultCases"
        400:
          description: "Validation exception."
        404:
          description: "No results for the given source."
      x-auth-type: "Application & Application User"
      x-throttling-tier: "Unlimited"
      x-swagger-router-controller: "Default"
  /deathsPerOneMillion:
    get:
      summary: "Deaths per Million"
      description: "Deaths per Million"
      operationId: "deathsPerOneMillionGET"
      produces:
      - "application/json"
      parameters:
      - name: "country"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "World"
          - "USA"
          - "Spain"
          - "Italy"
          - "UK"
          - "France"
          - "Germany"
          - "Turkey"
          - "Russia"
          - "Iran"
          - "Brazil"
          - "Canada"
          - "Belgium"
          - "Netherlands"
          - "Peru"
          - "India"
          - "Switzerland"
          - "Portugal"
          - "Ecuador"
          - "Saudi Arabia"
          - "Sweden"
          - "Ireland"
          - "Mexico"
          - "Pakistan"
          - "Singapore"
          - "Chile"
          - "Israel"
          - "Austria"
          - "Belarus"
          - "Japan"
          - "Qatar"
          - "Poland"
          - "UAE"
          - "Romania"
          - "S. Korea"
          - "Ukraine"
          - "Indonesia"
          - "Denmark"
          - "Serbia"
          - "Philippines"
          - "Norway"
          - "Czechia"
          - "Bangladesh"
          - "Dominican Republic"
          - "Australia"
          - "Colombia"
          - "Panama"
          - "Malaysia"
          - "South Africa"
          - "Egypt"
          - "Finland"
          - "Morocco"
          - "Argentina"
          - "Kuwait"
          - "Algeria"
          - "Moldova"
          - "Luxembourg"
          - "Kazakhstan"
          - "Bahrain"
          - "Thailand"
          - "Hungary"
          - "Greece"
          - "Oman"
          - "Afghanistan"
          - "Iraq"
          - "Croatia"
          - "Ghana"
          - "Armenia"
          - "Uzbekistan"
          - "Nigeria"
          - "Cameroon"
          - "Azerbaijan"
          - "Iceland"
          - "Bosnia and Herzegovina"
          - "Estonia"
          - "Bulgaria"
          - "Cuba"
          - "Guinea"
          - "New Zealand"
          - "North Macedonia"
          - "Slovenia"
          - "Slovakia"
          - "Lithuania"
          - "Ivory Coast"
          - "Bolivia"
          - "Djibouti"
          - "Hong Kong"
          - "Tunisia"
          - "Senegal"
          - "Latvia"
          - "Cyprus"
          - "Albania"
          - "Honduras"
          - "Kyrgyzstan"
          - "Andorra"
          - "Lebanon"
          - "Costa Rica"
          - "Niger"
          - "Diamond Princess"
          - "Sri Lanka"
          - "Burkina Faso"
          - "Uruguay"
          - "Somalia"
          - "Guatemala"
          - "San Marino"
          - "Georgia"
          - "Mayotte"
          - "Channel Islands"
          - "DRC"
          - "Mali"
          - "Tanzania"
          - "Maldives"
          - "Malta"
          - "Jordan"
          - "Sudan"
          - "Taiwan"
          - "Réunion"
          - "Kenya"
          - "Jamaica"
          - "El Salvador"
          - "Palestine"
          - "Mauritius"
          - "Venezuela"
          - "Montenegro"
          - "Isle of Man"
          - "Equatorial Guinea"
          - "Gabon"
          - "Vietnam"
          - "Paraguay"
          - "Rwanda"
          - "Congo"
          - "Guinea-Bissau"
          - "Faeroe Islands"
          - "Martinique"
          - "Guadeloupe"
          - "Myanmar"
          - "Gibraltar"
          - "Liberia"
          - "Brunei"
          - "Ethiopia"
          - "Madagascar"
          - "French Guiana"
          - "Sierra Leone"
          - "Cambodia"
          - "Cabo Verde"
          - "Togo"
          - "Trinidad and Tobago"
          - "Bermuda"
          - "Zambia"
          - "Aruba"
          - "Eswatini"
          - "Monaco"
          - "Uganda"
          - "Guyana"
          - "Liechtenstein"
          - "Barbados"
          - "Bahamas"
          - "Haiti"
          - "Mozambique"
          - "Sint Maarten"
          - "Chad"
          - "Cayman Islands"
          - "Benin"
          - "Libya"
          - "French Polynesia"
          - "Nepal"
          - "CAR"
          - "Macao"
          - "Syria"
          - "Zimbabwe"
          - "Eritrea"
          - "Saint Martin"
          - "Mongolia"
          - "Malawi"
          - "South Sudan"
          - "Angola"
          - "Antigua and Barbuda"
          - "Timor-Leste"
          - "Botswana"
          - "Grenada"
          - "Laos"
          - "Belize"
          - "Fiji"
          - "New Caledonia"
          - "Saint Lucia"
          - "Curaçao"
          - "Dominica"
          - "Namibia"
          - "St. Vincent Grenadines"
          - "Saint Kitts and Nevis"
          - "Tajikistan"
          - "Nicaragua"
          - "Sao Tome and Principe"
          - "Falkland Islands"
          - "Turks and Caicos"
          - "Burundi"
          - "Gambia"
          - "Montserrat"
          - "Greenland"
          - "Vatican City"
          - "Seychelles"
          - "Suriname"
          - "MS Zaandam"
          - "Mauritania"
          - "Papua New Guinea"
          - "Bhutan"
          - "Yemen"
          - "British Virgin Islands"
          - "St. Barth"
          - "Western Sahara"
          - "Caribbean Netherlands"
          - "Anguilla"
          - "Comoros"
          - "Saint Pierre Miquelon"
          - "China"
        maxItems: 1
        minItems: 1
        uniqueItems: true
      responses:
        200:
          description: "Successful operation."
          schema:
            $ref: "#/definitions/resultCases"
        400:
          description: "Validation exception."
        404:
          description: "No results for the given source."
      x-auth-type: "Application & Application User"
      x-throttling-tier: "Unlimited"
      x-swagger-router-controller: "Default"
  /totalTests:
    get:
      summary: "Test Totals"
      description: "Tests total"
      operationId: "totalTestsGET"
      produces:
      - "application/json"
      parameters:
      - name: "country"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "World"
          - "USA"
          - "Spain"
          - "Italy"
          - "UK"
          - "France"
          - "Germany"
          - "Turkey"
          - "Russia"
          - "Iran"
          - "Brazil"
          - "Canada"
          - "Belgium"
          - "Netherlands"
          - "Peru"
          - "India"
          - "Switzerland"
          - "Portugal"
          - "Ecuador"
          - "Saudi Arabia"
          - "Sweden"
          - "Ireland"
          - "Mexico"
          - "Pakistan"
          - "Singapore"
          - "Chile"
          - "Israel"
          - "Austria"
          - "Belarus"
          - "Japan"
          - "Qatar"
          - "Poland"
          - "UAE"
          - "Romania"
          - "S. Korea"
          - "Ukraine"
          - "Indonesia"
          - "Denmark"
          - "Serbia"
          - "Philippines"
          - "Norway"
          - "Czechia"
          - "Bangladesh"
          - "Dominican Republic"
          - "Australia"
          - "Colombia"
          - "Panama"
          - "Malaysia"
          - "South Africa"
          - "Egypt"
          - "Finland"
          - "Morocco"
          - "Argentina"
          - "Kuwait"
          - "Algeria"
          - "Moldova"
          - "Luxembourg"
          - "Kazakhstan"
          - "Bahrain"
          - "Thailand"
          - "Hungary"
          - "Greece"
          - "Oman"
          - "Afghanistan"
          - "Iraq"
          - "Croatia"
          - "Ghana"
          - "Armenia"
          - "Uzbekistan"
          - "Nigeria"
          - "Cameroon"
          - "Azerbaijan"
          - "Iceland"
          - "Bosnia and Herzegovina"
          - "Estonia"
          - "Bulgaria"
          - "Cuba"
          - "Guinea"
          - "New Zealand"
          - "North Macedonia"
          - "Slovenia"
          - "Slovakia"
          - "Lithuania"
          - "Ivory Coast"
          - "Bolivia"
          - "Djibouti"
          - "Hong Kong"
          - "Tunisia"
          - "Senegal"
          - "Latvia"
          - "Cyprus"
          - "Albania"
          - "Honduras"
          - "Kyrgyzstan"
          - "Andorra"
          - "Lebanon"
          - "Costa Rica"
          - "Niger"
          - "Diamond Princess"
          - "Sri Lanka"
          - "Burkina Faso"
          - "Uruguay"
          - "Somalia"
          - "Guatemala"
          - "San Marino"
          - "Georgia"
          - "Mayotte"
          - "Channel Islands"
          - "DRC"
          - "Mali"
          - "Tanzania"
          - "Maldives"
          - "Malta"
          - "Jordan"
          - "Sudan"
          - "Taiwan"
          - "Réunion"
          - "Kenya"
          - "Jamaica"
          - "El Salvador"
          - "Palestine"
          - "Mauritius"
          - "Venezuela"
          - "Montenegro"
          - "Isle of Man"
          - "Equatorial Guinea"
          - "Gabon"
          - "Vietnam"
          - "Paraguay"
          - "Rwanda"
          - "Congo"
          - "Guinea-Bissau"
          - "Faeroe Islands"
          - "Martinique"
          - "Guadeloupe"
          - "Myanmar"
          - "Gibraltar"
          - "Liberia"
          - "Brunei"
          - "Ethiopia"
          - "Madagascar"
          - "French Guiana"
          - "Sierra Leone"
          - "Cambodia"
          - "Cabo Verde"
          - "Togo"
          - "Trinidad and Tobago"
          - "Bermuda"
          - "Zambia"
          - "Aruba"
          - "Eswatini"
          - "Monaco"
          - "Uganda"
          - "Guyana"
          - "Liechtenstein"
          - "Barbados"
          - "Bahamas"
          - "Haiti"
          - "Mozambique"
          - "Sint Maarten"
          - "Chad"
          - "Cayman Islands"
          - "Benin"
          - "Libya"
          - "French Polynesia"
          - "Nepal"
          - "CAR"
          - "Macao"
          - "Syria"
          - "Zimbabwe"
          - "Eritrea"
          - "Saint Martin"
          - "Mongolia"
          - "Malawi"
          - "South Sudan"
          - "Angola"
          - "Antigua and Barbuda"
          - "Timor-Leste"
          - "Botswana"
          - "Grenada"
          - "Laos"
          - "Belize"
          - "Fiji"
          - "New Caledonia"
          - "Saint Lucia"
          - "Curaçao"
          - "Dominica"
          - "Namibia"
          - "St. Vincent Grenadines"
          - "Saint Kitts and Nevis"
          - "Tajikistan"
          - "Nicaragua"
          - "Sao Tome and Principe"
          - "Falkland Islands"
          - "Turks and Caicos"
          - "Burundi"
          - "Gambia"
          - "Montserrat"
          - "Greenland"
          - "Vatican City"
          - "Seychelles"
          - "Suriname"
          - "MS Zaandam"
          - "Mauritania"
          - "Papua New Guinea"
          - "Bhutan"
          - "Yemen"
          - "British Virgin Islands"
          - "St. Barth"
          - "Western Sahara"
          - "Caribbean Netherlands"
          - "Anguilla"
          - "Comoros"
          - "Saint Pierre Miquelon"
          - "China"
        maxItems: 1
        minItems: 1
        uniqueItems: true
      responses:
        200:
          description: "Successful operation."
          schema:
            $ref: "#/definitions/resultCases"
        400:
          description: "Validation exception."
        404:
          description: "No results for the given source."
      x-auth-type: "Application & Application User"
      x-throttling-tier: "Unlimited"
      x-swagger-router-controller: "Default"
  /testsPerOneMillion:
    get:
      summary: "Test Per Million"
      description: "Test Per Million"
      operationId: "testsPerOneMillionGET"
      produces:
      - "application/json"
      parameters:
      - name: "country"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "World"
          - "USA"
          - "Spain"
          - "Italy"
          - "UK"
          - "France"
          - "Germany"
          - "Turkey"
          - "Russia"
          - "Iran"
          - "Brazil"
          - "Canada"
          - "Belgium"
          - "Netherlands"
          - "Peru"
          - "India"
          - "Switzerland"
          - "Portugal"
          - "Ecuador"
          - "Saudi Arabia"
          - "Sweden"
          - "Ireland"
          - "Mexico"
          - "Pakistan"
          - "Singapore"
          - "Chile"
          - "Israel"
          - "Austria"
          - "Belarus"
          - "Japan"
          - "Qatar"
          - "Poland"
          - "UAE"
          - "Romania"
          - "S. Korea"
          - "Ukraine"
          - "Indonesia"
          - "Denmark"
          - "Serbia"
          - "Philippines"
          - "Norway"
          - "Czechia"
          - "Bangladesh"
          - "Dominican Republic"
          - "Australia"
          - "Colombia"
          - "Panama"
          - "Malaysia"
          - "South Africa"
          - "Egypt"
          - "Finland"
          - "Morocco"
          - "Argentina"
          - "Kuwait"
          - "Algeria"
          - "Moldova"
          - "Luxembourg"
          - "Kazakhstan"
          - "Bahrain"
          - "Thailand"
          - "Hungary"
          - "Greece"
          - "Oman"
          - "Afghanistan"
          - "Iraq"
          - "Croatia"
          - "Ghana"
          - "Armenia"
          - "Uzbekistan"
          - "Nigeria"
          - "Cameroon"
          - "Azerbaijan"
          - "Iceland"
          - "Bosnia and Herzegovina"
          - "Estonia"
          - "Bulgaria"
          - "Cuba"
          - "Guinea"
          - "New Zealand"
          - "North Macedonia"
          - "Slovenia"
          - "Slovakia"
          - "Lithuania"
          - "Ivory Coast"
          - "Bolivia"
          - "Djibouti"
          - "Hong Kong"
          - "Tunisia"
          - "Senegal"
          - "Latvia"
          - "Cyprus"
          - "Albania"
          - "Honduras"
          - "Kyrgyzstan"
          - "Andorra"
          - "Lebanon"
          - "Costa Rica"
          - "Niger"
          - "Diamond Princess"
          - "Sri Lanka"
          - "Burkina Faso"
          - "Uruguay"
          - "Somalia"
          - "Guatemala"
          - "San Marino"
          - "Georgia"
          - "Mayotte"
          - "Channel Islands"
          - "DRC"
          - "Mali"
          - "Tanzania"
          - "Maldives"
          - "Malta"
          - "Jordan"
          - "Sudan"
          - "Taiwan"
          - "Réunion"
          - "Kenya"
          - "Jamaica"
          - "El Salvador"
          - "Palestine"
          - "Mauritius"
          - "Venezuela"
          - "Montenegro"
          - "Isle of Man"
          - "Equatorial Guinea"
          - "Gabon"
          - "Vietnam"
          - "Paraguay"
          - "Rwanda"
          - "Congo"
          - "Guinea-Bissau"
          - "Faeroe Islands"
          - "Martinique"
          - "Guadeloupe"
          - "Myanmar"
          - "Gibraltar"
          - "Liberia"
          - "Brunei"
          - "Ethiopia"
          - "Madagascar"
          - "French Guiana"
          - "Sierra Leone"
          - "Cambodia"
          - "Cabo Verde"
          - "Togo"
          - "Trinidad and Tobago"
          - "Bermuda"
          - "Zambia"
          - "Aruba"
          - "Eswatini"
          - "Monaco"
          - "Uganda"
          - "Guyana"
          - "Liechtenstein"
          - "Barbados"
          - "Bahamas"
          - "Haiti"
          - "Mozambique"
          - "Sint Maarten"
          - "Chad"
          - "Cayman Islands"
          - "Benin"
          - "Libya"
          - "French Polynesia"
          - "Nepal"
          - "CAR"
          - "Macao"
          - "Syria"
          - "Zimbabwe"
          - "Eritrea"
          - "Saint Martin"
          - "Mongolia"
          - "Malawi"
          - "South Sudan"
          - "Angola"
          - "Antigua and Barbuda"
          - "Timor-Leste"
          - "Botswana"
          - "Grenada"
          - "Laos"
          - "Belize"
          - "Fiji"
          - "New Caledonia"
          - "Saint Lucia"
          - "Curaçao"
          - "Dominica"
          - "Namibia"
          - "St. Vincent Grenadines"
          - "Saint Kitts and Nevis"
          - "Tajikistan"
          - "Nicaragua"
          - "Sao Tome and Principe"
          - "Falkland Islands"
          - "Turks and Caicos"
          - "Burundi"
          - "Gambia"
          - "Montserrat"
          - "Greenland"
          - "Vatican City"
          - "Seychelles"
          - "Suriname"
          - "MS Zaandam"
          - "Mauritania"
          - "Papua New Guinea"
          - "Bhutan"
          - "Yemen"
          - "British Virgin Islands"
          - "St. Barth"
          - "Western Sahara"
          - "Caribbean Netherlands"
          - "Anguilla"
          - "Comoros"
          - "Saint Pierre Miquelon"
          - "China"
        maxItems: 1
        minItems: 1
        uniqueItems: true
      responses:
        200:
          description: "Successful operation."
          schema:
            $ref: "#/definitions/resultCases"
        400:
          description: "Validation exception."
        404:
          description: "No results for the given source."
      x-auth-type: "Application & Application User"
      x-throttling-tier: "Unlimited"
      x-swagger-router-controller: "Default"
definitions:
  resultCases:
    required:
    - "data"
    - "date"
    properties:
      data:
        type: "integer"
      date:
        type: "string"
    example:
      date: "2020-04-10T17:01:40.000Z"
      data: 2425
  resultCasesCountry:
    required:
    - "data"
    - "date"
    properties:
      data:
        type: "integer"
      date:
        type: "string"
    example:
      date: "2020-04-10T17:01:40.000Z"
      data: 157053
      country: "Spain"
parameters:
  country:
    name: "country"
    in: "query"
    required: false
    type: "array"
    items:
      type: "string"
      enum:
      - "World"
      - "USA"
      - "Spain"
      - "Italy"
      - "UK"
      - "France"
      - "Germany"
      - "Turkey"
      - "Russia"
      - "Iran"
      - "Brazil"
      - "Canada"
      - "Belgium"
      - "Netherlands"
      - "Peru"
      - "India"
      - "Switzerland"
      - "Portugal"
      - "Ecuador"
      - "Saudi Arabia"
      - "Sweden"
      - "Ireland"
      - "Mexico"
      - "Pakistan"
      - "Singapore"
      - "Chile"
      - "Israel"
      - "Austria"
      - "Belarus"
      - "Japan"
      - "Qatar"
      - "Poland"
      - "UAE"
      - "Romania"
      - "S. Korea"
      - "Ukraine"
      - "Indonesia"
      - "Denmark"
      - "Serbia"
      - "Philippines"
      - "Norway"
      - "Czechia"
      - "Bangladesh"
      - "Dominican Republic"
      - "Australia"
      - "Colombia"
      - "Panama"
      - "Malaysia"
      - "South Africa"
      - "Egypt"
      - "Finland"
      - "Morocco"
      - "Argentina"
      - "Kuwait"
      - "Algeria"
      - "Moldova"
      - "Luxembourg"
      - "Kazakhstan"
      - "Bahrain"
      - "Thailand"
      - "Hungary"
      - "Greece"
      - "Oman"
      - "Afghanistan"
      - "Iraq"
      - "Croatia"
      - "Ghana"
      - "Armenia"
      - "Uzbekistan"
      - "Nigeria"
      - "Cameroon"
      - "Azerbaijan"
      - "Iceland"
      - "Bosnia and Herzegovina"
      - "Estonia"
      - "Bulgaria"
      - "Cuba"
      - "Guinea"
      - "New Zealand"
      - "North Macedonia"
      - "Slovenia"
      - "Slovakia"
      - "Lithuania"
      - "Ivory Coast"
      - "Bolivia"
      - "Djibouti"
      - "Hong Kong"
      - "Tunisia"
      - "Senegal"
      - "Latvia"
      - "Cyprus"
      - "Albania"
      - "Honduras"
      - "Kyrgyzstan"
      - "Andorra"
      - "Lebanon"
      - "Costa Rica"
      - "Niger"
      - "Diamond Princess"
      - "Sri Lanka"
      - "Burkina Faso"
      - "Uruguay"
      - "Somalia"
      - "Guatemala"
      - "San Marino"
      - "Georgia"
      - "Mayotte"
      - "Channel Islands"
      - "DRC"
      - "Mali"
      - "Tanzania"
      - "Maldives"
      - "Malta"
      - "Jordan"
      - "Sudan"
      - "Taiwan"
      - "Réunion"
      - "Kenya"
      - "Jamaica"
      - "El Salvador"
      - "Palestine"
      - "Mauritius"
      - "Venezuela"
      - "Montenegro"
      - "Isle of Man"
      - "Equatorial Guinea"
      - "Gabon"
      - "Vietnam"
      - "Paraguay"
      - "Rwanda"
      - "Congo"
      - "Guinea-Bissau"
      - "Faeroe Islands"
      - "Martinique"
      - "Guadeloupe"
      - "Myanmar"
      - "Gibraltar"
      - "Liberia"
      - "Brunei"
      - "Ethiopia"
      - "Madagascar"
      - "French Guiana"
      - "Sierra Leone"
      - "Cambodia"
      - "Cabo Verde"
      - "Togo"
      - "Trinidad and Tobago"
      - "Bermuda"
      - "Zambia"
      - "Aruba"
      - "Eswatini"
      - "Monaco"
      - "Uganda"
      - "Guyana"
      - "Liechtenstein"
      - "Barbados"
      - "Bahamas"
      - "Haiti"
      - "Mozambique"
      - "Sint Maarten"
      - "Chad"
      - "Cayman Islands"
      - "Benin"
      - "Libya"
      - "French Polynesia"
      - "Nepal"
      - "CAR"
      - "Macao"
      - "Syria"
      - "Zimbabwe"
      - "Eritrea"
      - "Saint Martin"
      - "Mongolia"
      - "Malawi"
      - "South Sudan"
      - "Angola"
      - "Antigua and Barbuda"
      - "Timor-Leste"
      - "Botswana"
      - "Grenada"
      - "Laos"
      - "Belize"
      - "Fiji"
      - "New Caledonia"
      - "Saint Lucia"
      - "Curaçao"
      - "Dominica"
      - "Namibia"
      - "St. Vincent Grenadines"
      - "Saint Kitts and Nevis"
      - "Tajikistan"
      - "Nicaragua"
      - "Sao Tome and Principe"
      - "Falkland Islands"
      - "Turks and Caicos"
      - "Burundi"
      - "Gambia"
      - "Montserrat"
      - "Greenland"
      - "Vatican City"
      - "Seychelles"
      - "Suriname"
      - "MS Zaandam"
      - "Mauritania"
      - "Papua New Guinea"
      - "Bhutan"
      - "Yemen"
      - "British Virgin Islands"
      - "St. Barth"
      - "Western Sahara"
      - "Caribbean Netherlands"
      - "Anguilla"
      - "Comoros"
      - "Saint Pierre Miquelon"
      - "China"
    maxItems: 1
    minItems: 1
    uniqueItems: true
